environments:
  default:
  dev:
  production:
---

releases:
- name: hazel
  namespace: hazel
  chart: ../../charts/hazel
  version: 0.1.0
  wait: true
  waitForJobs: true
  needs:
  - hazel/hazel-infra

  values:
  {{ if (eq .Environment.Name "dev") }}
  - ./values/overrides-dev.yaml
  {{ end }}
  {{- if isFile "./values/overrides-local.yaml" }}
  - ./values/overrides-local.yaml
  {{- end }}
  {{ if (eq (env "DRY_RUN") "true") }}
  set:
    - name: dryRun
      value: true
  {{ end }}
