environments:
  default:
  dev:
  production:
---
releases:
- name: hazel-infra
  # needs:
  # - ot-operators/redis-operator
  namespace: hazel
  chart: ../../../charts/hazel-infra
  version: 0.1.0
  wait: true
  waitForJobs: true

  values:
  - ./values/overrides-infra.yaml
  {{ if (eq .Environment.Name "dev") }}
  - ./values/overrides-infra-dev.yaml
  {{ end }}
  {{- if isFile "./values/overrides-infra-local.yaml" }}
  - ./values/overrides-infra-local.yaml
  {{- end }}
  {{ if (eq .Environment.Name "dev") }}
  set:
    - name: hazel.dev.files.lbIP
      value: {{ requiredEnv "LB_IP" }}
    - name: hazel.dev.backups.lbIP
      value: {{ requiredEnv "BACKUPS_LB_IP" }}

  {{ end }}
