environments:
  default:
  dev:
  production:
---

templates:
{{ readFile "blocks/garage-tmpl.yaml" | indent 2 }}

releases:
  - <<: *garage
  - name: minio-backups
    namespace: backups
    chart: ../../charts/hazel-backups
    version: 0.1.0
    wait: true
    waitForJobs: true
    needs:
    - garage/garage
    values:
    - ./values/overrides-backups-dev.yaml
    {{- if isFile "./values/overrides-backups-local.yaml" }}
    - ./values/overrides-backups-local.yaml
    {{- end }}

- name: minio-backups
  namespace: backups
  chart: ../../../charts/hazel-backups
  version: 0.1.0
  wait: true
  waitForJobs: true
  needs:
  - garage/garage
  values:
  {{ if (eq .Environment.Name "dev") }}
  - ./overrides-backups-dev.yaml
  {{ end }}
  {{- if isFile "./overrides-backups-local.yaml" }}
  - ./overrides-backups-local.yaml
  {{- end }}
